/* Carrossel de Imagens */
.carrossel {
  position: relative;
  overflow: hidden;
}

.carrossel .imagens {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
}

.carrossel .imagem {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.carrossel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f98ac77d;
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrossel button:hover {
  background-color: #f98ac7;
}

.carrossel .prev {
  left: 10px;
}

.carrossel .next {
  right: 10px;
}

@media (max-width: 768px) {
  .carrossel button {
    font-size: 1.5rem;
    padding: 5px;
    width: 40px;
    height: 40px;
  }

  .carrossel .prev {
    left: 5px;
  }

  .carrossel .next {
    right: 5px;
  }

  .carrossel .imagem {
    width: 100%;
  }

  .carrossel .imagens {
    gap: 10px;
  }

  .carrossel .imagem {
    border-radius: 5px;
  }

  
}


